<div id="arrow_keys" class="keyboard">
  <div class="addition_wrap">
      <div class="addition">
        <div  id="up" class="key highlight">
          <div class="keycap">&uarr;</div>
        </div>
      </div>
    </div>
  <div class="pad">
    <div id="left" class="key">
      <div class="keycap">&larr;</div>
    </div>
    <div id="down" class="key highlight">
      <div class="keycap">&darr;</div>
    </div>
    <div id="right" class="key">
      <div class="keycap">&rarr;</div>
    </div>
  </div>
</div>