/* Source http://codepen.io/P233/pen/qEagi*/

.keyboard {
  margin: 0;
  display: inline-block;
  padding: 13px 8px;
  background: #f5f3f1;
  background: -webkit-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -moz-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -ms-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -o-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
  background: linear-gradient(to bottom, #e5e2e1, #f5f3f1, #e5e2e1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -o-transform: rotateX(15deg);
}

.keyboard * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.highlight {
  background: #a8aeb8;
  border-color: #c4c7cc #adb9cc #96a6bd;
}

.pad {
  padding: 2px;
  background: #4d4d4d;
  border-radius: 4px;
  overflow: hidden;
}

.addition_wrap {
  width: 58px;
  margin: -2px 0 -2px 58px;
  background: #4d4d4d;
  padding: 2px 2px 0;
  border-radius: 4px 4px 0 0;
  position: relative;
}

/*Rounded Corners for the Cover*/
.addition_wrap:before, .addition_wrap:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #f5f3f1;
  border-bottom: 2px solid  #4d4d4d;
  position: absolute;
  bottom: 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.addition_wrap:before {
  left: -5px;
  border-right: 2px solid #4d4d4d;
  border-radius: 0 0 5px 0;
}

.addition_wrap:after {
  right: -5px;
  border-left: 2px solid #4d4d4d;
  border-radius: 0 0 0 5px;
}

.addition {
  overflow: hidden;
}

.key, .f_key {
  width: 40px;
  height: 45px;
  margin: 2px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  float: left;
}

.key.pressed, .f_key.pressed {
  -webkit-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -o-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}

.key {
  background: #d3cfcc;
  border-color: #ece8e4 #dedad6 #c9c4c4;
}

.key .keycap {
  width: 33px;
  height: 40px;
  padding: 5px 0 0 7px;
  font-size: 18px;
  line-height: 1;
  background: #f5f3f1;
  background: -webkit-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -moz-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -ms-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -o-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: linear-gradient(to right, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.highlight {
  background: #a8aeb8;
  border-color: #c4c7cc #adb9cc #96a6bd;
}

.highlight .keycap {
  background: #cdd3de;
  background: -webkit-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -moz-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -ms-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -o-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.spacebar {
  width: 328px;
  border-width: 3px 8px 10px;
}
.spacebar .keycap {
  width: 321px;
}
.spacebar .pressed {
  -webkit-transform: scale(0.98, 0.95);
  -moz-transform: scale(0.98, 0.95);
  -ms-transform: scale(0.98, 0.95);
  -o-transform: scale(0.98, 0.95);
  transform: scale(0.98, 0.95);
}