<p>The secure handling of your data is very important to us.
  The data collected during the survey is transferred to our servers and stored there. It is used for statistical analysis and published in aggregated form in specialist journals.
</p>
<p>The raw data are anonymized for further analysis on <a href="http://github.com/cessor/" target="_new">Github</a> and provided via the website of the Psychological Institute of the University of Heidelberg.
</p>

<h3>What is collected?</h3>
<p>During the course of the study, we will ask you a number of questions. In addition to open, visible queries on forms, your input will also be recorded in the background.
</p>

<h3>What is not collected?</h3>
<p>During the study, <b>no personal data</b> that could uniquely identify you (name, IP, Facebook cookie, etc.) will be collected.
<br>
If you participated in the previous study and registered via email, there is no way to link your email address to the data. Therefore, it is also not possible to subsequently delete data records once they have been recorded.</p>
<p>Therefore, it is not possible to subsequently delete individual data records that have already been collected.</p>