<p>Der sichere Umgang mit Ihren Daten ist uns sehr wichtig.
  Die während der Erhebung anfallenden Daten werden zu unseren Servern übertragen und dort gespeichert. Sie werden für die statistische Auswertung verwendet und in aggregierter Form in Fachmagazinen veröffentlicht.
</p>
<p>Die Rohdaten werden für weitere Auswertungen anonymisiert auf <a href="http://github.com/cessor/" target="_new">Github</a> und über die Seiten des Psychologischen Instituts der Universität Heidelberg bereitgestellt.
</p>

<h3>Was wird erhoben?</h3>
<p>Im Verlauf der Studie werden wir Ihnen einige Fragen stellen. Neben offenen, sichtbaren Abfragen auf Formularen werden auch im Hintergrund Ihre Eingaben aufgezeichnet.
</p>

<h3>Was wird nicht erhoben?</h3>
<p>Es werden während der Studie <b>keine personenbezogenen Daten</b> erhoben, die Sie <b>eindeutig identifizieren</b> (Name, IP, Facebook-Cookie, etc.).
<br>
Sollten Sie an der Vorgängerstudie teilgenommen haben und waren per Email angemeldet, so besteht keine Möglichkeit, Ihre Emailadresse mit den Daten in Verbindung zu bringen. Daher ist es auch nicht möglich, einmal erfasste Datensätze nachträglich zu löschen.</p>
<p>Daher ist es auch nicht möglich, bereits erhobene, individuelle Datensätze nachträglich zu löschen.</p>