<div class="page-header">
  <h1>Wie lesen wir Quellcode?</h1>
</div>
<p>
  Nehmen Sie an unserer Studie teil!
</p>
<p>
  Quellcode wird oft geschrieben und dann über einen langen Zeitraum nicht bearbeitet. Er muss so geschrieben werden, dass sich ein Programmierer auch nach längerer Zeit in ihm zurechtfindet, um notwendige Änderungen durchführen zu können. Code zu schreiben, den man ohne Kontext verstehen kann, ist jedoch ziemlich schwierig.
</p>
<p>
  Programmierer haben oft ein Bauchgefühl, ob Code gut oder schlecht ist. Doch lässt sich dieses Gefühl messen und durch Zahlen ausdrücken? Um dieser Frage nachzugehen, haben wir die vorliegende Studie entwickelt.
</p>
<h2>Wer kann teilnehmen?</h2>
<br>
<ul class="media-list">

  <li class="media">
    <div class="media-left">
      <img src="/static/images/head.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">C# Kenntnisse</h2>
      <p>In Frage kommen Programmierer, die mit der Sprache <b class="text-info">C#</b> arbeiten.</p>
    </div>
    <hr>
  </li>

  <li class="media">
    <div class="media-left">
      <img src="/static/images/bug.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Ihre Aufgabe</h2>
      <p>Sie sehen mehrere Codesnippets, in denen Sie je einen Fehler finden müssen.</p>
    </div>
    <hr>
  </li>

  <li class="media">
    <div class="media-left">
      <img src="/static/images/clock.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Dauer</h2>
      <p>Die Teilnahme dauert ca. 20 Minuten.</p>
    </div>
    <hr>
  </li>

  <li class="media">
    <div class="media-left">
      <img src="/static/images/machine.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Laptop oder Desktop</h2>
      <p><b>Beachten Sie:</b> Mobilgeräte werden nicht unterstützt! <small><a href="" ng-click="homeCtrl.mobile()">(?)</a></small></p>
    </div>
    <hr>
  </li>
</ul>

<p class="text-center">
  <a class="btn btn-success btn-lg btn-massive" href="/questions" role="button">
    Jetzt teilnehmen!
  </a>
</p>

<p class="text-muted text-center">
  <small>
    Durch Klick auf "Jetzt teilnehmen" bestätigen Sie, dass Sie freiwillig an einer
    wissenschaftlichen Studie der Universität Heidelberg teilnehmen und der statistischen Auswertung
    Ihrer Daten zustimmen.
  </small>
</p>