<div class="page-header">
  <h1>How do we read source code?</h1>
</div>
<p>
  Take part in our study!
</p>
<p>
  Source code is often written and then left untouched for long periods of time. It must be written in such a way that a programmer can navigate it even after a long period of time and make necessary changes. Writing code that can be understood without context is quite difficult, however.
</p>
<p>
  Programmers often have a gut feeling about whether code is good or bad. But can this feeling be measured and expressed in numbers? To explore this question, we developed this study.
</p>
<h2>Who can participate?</h2>
<br>
<ul class="media-list">

  <li class="media">
    <div class="media-left">
      <img src="/static/images/head.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">C# knowledge</h2>
      <p>Programmers who work with the <b class="text-info">C#</b> language are eligible.</p>
    </div>
    <hr>
  </li>

  <li class="media">
    <div class="media-left">
      <img src="/static/images/bug.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Your task</h2>
      <p>You will see several code snippets in which you must find an error.</p>
    </div>
    <hr>
  </li>

  <li class="media">
    <div class="media-left">
      <img src="/static/images/clock.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Expected time</h2>
      <p>Participation takes about 20 minutes.</p>
    </div>
    <hr>
  </li>

  <li class="media">
    <div class="media-left">
      <img src="/static/images/machine.png" class="media-object list-image">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Laptop or desktop</h2>
      <p><b>Please note:</b> Mobile devices are not supported! <small><a href="" ng-click="homeCtrl.mobile()">(?)</a></small></p>
    </div>
    <hr>
  </li>
</ul>

<p class="text-center">
  <a class="btn btn-success btn-lg btn-massive" href="/questions" role="button">
    Participate now!
  </a>
</p>

<p class="text-muted text-center">
  <small>
    By clicking "Participate now," you confirm that you are voluntarily participating in a scientific study conducted by Heidelberg University and agree to the statistical analysis of your data.
  </small>
</p>