<h1>Vielen Dank für Ihre Teilnahme.</h1>
<p>
  Die Ergebnisse der Studie werden auf dieser Website veröffentlicht.
</p>
<p>
  <a href="http://code.psychologie.uni-heidelberg.de/">http://code.psychologie.uni-heidelberg.de/</a><br>
</p>
<p>
  Wenn Sie eine Nachricht über die Ergebnisse oder über zukünftige Studien erhalten möchten, hinterlassen Sie bitte hier Ihre E-Mail-Adresse
</p>
<section ng-hide="email_submitted">
  <form name="emailform" ng-submit="emailform.$valid && finishCtrl.submit(formdata)">
    <div class="form-group">
      <legend for="email_address">E-Mail Adresse</legend>
      <div class="form-control-wrapper">
        <input ng-model="formdata.email" type="email" class="form-control" name="email_address" placeholder="Email" required="">
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="notify_results" ng-model="formdata.notify_results"> Informieren Sie mich über die Ergebnisse der Studie.
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="invite_again" ng-model="formdata.invite_again"> Ich möchte zu zukünftigen Experimenten eingeladen werden.
      </label>
    </div>

    <button class="btn btn-primary">Abschicken</button>
  </form>
</section>
<hr>
<p>Folgen Sie mir auf Twitter: <a href="https://twitter.com/pro_cessor" target="_new">@pro_cessor</a> oder besuchen Sie meine Website.: <a href="http://cessor.de/about" target="_new">http://cessor.de</a>.</p>
<div class="alert alert-success" role="alert" ng-show="email_submitted">Vielen Dank!</div>