<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8 col-lg-offset-2 page-header">
        <h1>Start</h1>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <progress-bar></progress-bar>
        <div class="jumbotron">
          <form class="form" name="questionForm" ng-submit="questionForm.$valid && questionsCtrl.addQuestions(questionForm, page)">
            <fieldset>
              <div ng-class="{ 'form-group': questionForm.jobtype.$pristine, 'form-group has-success': questionForm.jobtype.$touched && questionForm.jobtype.$valid, 'form-group has-error': !questionForm.jobtype.$pristine && questionForm.jobtype.$invalid }">
                <legend for="jobtype">1. Wie sind Sie zur Zeit beschäftigt? </legend>
                <div class="form-control-wrapper">
                  <select ng-model="page.jobtype" class="form-control" name="jobtype" required>
                    <option selected="selected" value="">Bitte wählen</option>
                    <option value="selbstständig">Selbstständig</option>
                    <option value="angestellt">Angestellt</option>
                    <option value="student">Student</option>
                    <option value="none">Kein Beruf</option>
                    <option value="other">Anders</option>
                  </select>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.job_description.$pristine, 'form-group has-success': questionForm.job_description.$touched && questionForm.job_description.$valid, 'form-group has-error': !questionForm.job_description.$pristine && questionForm.job_description.$invalid }">
                <legend for="job_description">2. Wie lautet Ihre Berufsbezeichnung? </legend>
                <span class="help-block">Beschreibung, Titel, Studienfach, etc.</span>
                <div class="form-control-wrapper">
                  <input ng-model="page.job_description" class="form-control" type="text" name="job_description" placeholder="Beschreibung oder Titel" required>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.school_leave_qualification.$pristine, 'form-group has-success': questionForm.school_leave_qualification.$touched && questionForm.school_leave_qualification.$valid, 'form-group has-error': !questionForm.school_leave_qualification.$pristine && questionForm.school_leave_qualification.$invalid }">
                <legend for="school_leave_qualification">3. Geben Sie Ihren höchsten Schulabschluss an! </legend>
                <div class="form-control-wrapper">
                  <select ng-model="page.school_leave_qualification" class="form-control" name="school_leave_qualification" required>
                    <option selected="selected" value="">Bitte wählen</option>
                    <option value="hauptschule">Hauptschulabschluss</option>
                    <option value="mr">Mittlere Reife</option>
                    <option value="abi">Abitur / Fachabitur</option>
                    <option value="none">Kein Abschluss</option>
                    <option value="other">Anderer Abschluss</option>
                  </select>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.subject.$pristine, 'form-group has-success': questionForm.subject.$touched && questionForm.subject.$valid, 'form-group has-error': !questionForm.subject.$pristine && questionForm.subject.$invalid }">
                <legend for="subject">4. Welchen Titel haben Sie genau erlangt? </legend>
                <span class="help-block">Zum Beispiel: Dipl.-Inform. (FH), Fachinformatiker.</span>
                <div class="form-control-wrapper">
                  <input ng-model="page.subject" class="form-control" type="text" name="subject" placeholder="Fachrichtung" required>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.academic_degree.$pristine, 'form-group has-success': questionForm.academic_degree.$touched && questionForm.academic_degree.$valid, 'form-group has-error': !questionForm.academic_degree.$pristine && questionForm.academic_degree.$invalid }">
                <legend for="academic_degree">5. Geben Sie Ihren höchsten weiteren Abschluss an! </legend>
                <div class="form-control-wrapper">
                  <select ng-model="page.academic_degree" class="form-control" name="academic_degree" required>
                    <option selected="selected" value="">Bitte wählen</option>
                    <option value="lehre">Lehre / Fachausbildung</option>
                    <option value="ba">Bachelor</option>
                    <option value="msc">Master / Diplom</option>
                    <option value="dr">Promotion</option>
                    <option value="none">Quereinsteiger / Keine Abschluss</option>
                    <option value="other">Anderer Abschluss</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <submit-de></submit-de>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>