<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8 col-lg-offset-2 page-header">
        <h1>Sprachen</h1>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <progress-bar></progress-bar>
        <div class="jumbotron">
          <form class="form" name="questionForm" ng-submit="questionForm.$valid && questionsCtrl.addQuestions(questionForm, page)">
            <fieldset>
              <div ng-class="{ 'form-group': questionForm.other_languages_matrix.$pristine, 'form-group has-success': questionForm.other_languages_matrix.$touched && questionForm.other_languages_matrix.$valid, 'form-group has-error': !questionForm.other_languages_matrix.$pristine && questionForm.other_languages_matrix.$invalid }">
                <legend for="other_languages_matrix">6. Wie gut kennen Sie sich mit den folgenden Sprachen aus? </legend>
                <span class="help-block">Bei mehreren Möglichkeiten antworten Sie für die Sprache, die Sie am besten kennen!</span>
                <table class="table table-condensed">
                <thead>
                  <tr>
                    <th></th>
                    <th>Keine Erfahrung</th>
                    <th>Grundkenntnisse</th>
                    <th>Projekterfahrung</th>
                    <th>Regelmäßig</th>
                    <th>Experte</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>C#</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.csharp" type="radio" name="csharp" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.csharp" type="radio" name="csharp" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.csharp" type="radio" name="csharp" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.csharp" type="radio" name="csharp" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.csharp" type="radio" name="csharp" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Java</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.java" type="radio" name="java" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.java" type="radio" name="java" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.java" type="radio" name="java" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.java" type="radio" name="java" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.java" type="radio" name="java" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>C, C++</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.c_or_cpp" type="radio" name="c_or_cpp" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.c_or_cpp" type="radio" name="c_or_cpp" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.c_or_cpp" type="radio" name="c_or_cpp" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.c_or_cpp" type="radio" name="c_or_cpp" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.c_or_cpp" type="radio" name="c_or_cpp" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>JavaScript</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.js" type="radio" name="js" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.js" type="radio" name="js" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.js" type="radio" name="js" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.js" type="radio" name="js" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.js" type="radio" name="js" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>F#</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.fsharp" type="radio" name="fsharp" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.fsharp" type="radio" name="fsharp" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.fsharp" type="radio" name="fsharp" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.fsharp" type="radio" name="fsharp" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.fsharp" type="radio" name="fsharp" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>VB.NET</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.vbnet" type="radio" name="vbnet" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.vbnet" type="radio" name="vbnet" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.vbnet" type="radio" name="vbnet" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.vbnet" type="radio" name="vbnet" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.vbnet" type="radio" name="vbnet" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>PHP</td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.php" type="radio" name="php" value="0" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.php" type="radio" name="php" value="1" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.php" type="radio" name="php" value="2" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.php" type="radio" name="php" value="3" required>
                            </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio radio-primary">
                          <label>
                              <input ng-model="page.php" type="radio" name="php" value="4" required>
                            </label>
                        </div>
                      </td>
                    </tr>
                </tbody>
                </table>
              </div>
              <div ng-class="{ 'form-group': questionForm.years_experience_csharp.$pristine, 'form-group has-success': questionForm.years_experience_csharp.$touched && questionForm.years_experience_csharp.$valid, 'form-group has-error': !questionForm.years_experience_csharp.$pristine && questionForm.years_experience_csharp.$invalid }">
                <legend for="years_experience_csharp">7. Wie viele Jahre Erfahrung haben Sie mit C# (regelmäßige, professionelle Anwendung)? </legend>
                <span class="help-block">Regelmäßige, professionelle Anwendung</span>
                <div class="form-control-wrapper">
                  <input ng-model="page.years_experience_csharp" type="number" min="0" max="100" class="form-control" name="years_experience_csharp" placeholder="Jahre" required>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.years_experience_any.$pristine, 'form-group has-success': questionForm.years_experience_any.$touched && questionForm.years_experience_any.$valid, 'form-group has-error': !questionForm.years_experience_any.$pristine && questionForm.years_experience_any.$invalid }">
                <legend for="years_experience_any">8. Seit wie vielen Jahren programmieren Sie? </legend>
                <span class="help-block">Regelmäßige, professionelle Anwendung</span>
                <div class="form-control-wrapper">
                  <input ng-model="page.years_experience_any" type="number" min="0" max="100" class="form-control" name="years_experience_any" placeholder="Jahre" required>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.other_languages.$pristine, 'form-group has-success': questionForm.other_languages.$touched && questionForm.other_languages.$valid, 'form-group has-error': !questionForm.other_languages.$pristine && questionForm.other_languages.$invalid }">
                <legend for="other_languages">9. Welche anderen Sprachen kennen Sie (Grundkenntnisse oder mehr)? (optional)</legend>
                <span class="help-block">Nennen Sie Sprachen, in denen sie Grundkenntnisse oder mehr haben. Trennen Sie mehrere Sprachen durch Kommata.</span>
                <div class="form-control-wrapper">
                  <textarea ng-model="page.other_languages" class="form-control" name="other_languages" placeholder="Sprachen" rows="3" ></textarea>
                </div>
              </div>
              <div ng-class="{ 'form-group': questionForm.mother_tounge.$pristine, 'form-group has-success': questionForm.mother_tounge.$touched && questionForm.mother_tounge.$valid, 'form-group has-error': !questionForm.mother_tounge.$pristine && questionForm.mother_tounge.$invalid }">
                <legend for="mother_tounge">10. Was ist Ihre Muttersprache? </legend>
                <div class="form-control-wrapper">
                  <select ng-model="page.mother_tounge" class="form-control" name="mother_tounge" required>
                    <option selected="selected" value="">Bitte wählen</option>
                    <option value="de">Deutsch</option>
                    <option value="en">Englisch</option>
                    <option value="ru">Russisch</option>
                    <option value="pl">Polnisch</option>
                    <option value="cz">Tschechisch</option>
                    <option value="es">Spanisch</option>
                    <option value="it">Italienisch</option>
                    <option value="fr">Französisch</option>
                    <option value="other">Andere</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <submit-de></submit-de>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>